In [1]:
import pandas as pd
from functions import data_preprocess_functions

In [4]:
filename = 'data/sheath_ps_crossing_mms - 2022_cospar_output_combined.csv'

In [9]:
data =pd.read_csv(filename)
data.columns

Index(['Event number', 'time_start_sheath', 'time_end_sheath',
       'time_start_plasmasheet', 'time_start_plasmasheet.1',
       'smooth_turbulent', 'BL', 'dawndusk', 'Inbound',
       'crossing_magnetopause', 'crossing_ps', 'comments', 'xgse', 'ygse',
       'zgse', 'ygsm', 'zgsm', 'dist', 'mlt', 'l', 'bx_sheath_mean',
       'bx_sheath_std', 'bx_ps_mean', 'bx_ps_std', 'by_gsm_sheath_mean',
       'by_gsm_sheath_std', 'by_gsm_ps_mean', 'by_gsm_ps_std',
       'bz_gsm_sheath_mean', 'bz_gsm_sheath_std', 'bz_gsm_ps_mean',
       'bz_gsm_ps_std', 'h1_density_sheath_mean', 'h1_density_sheath_std',
       'h1_density_ps_mean', 'h1_density_ps_std', 'he2_density_sheath_mean',
       'he2_density_sheath_std', 'he2_density_ps_mean', 'he2_density_ps_std',
       'mms_alpha_ratio_sheath_mean', 'mms_alpha_ratio_sheath_std',
       'mms_alpha_ratio_ps_mean', 'mms_alpha_ratio_ps_std', 'imf_bx_1h_mean',
       'imf_bx_1h_std', 'imf_bx_2h_mean', 'imf_bx_2h_std', 'imf_bx_3h_mean',
       'imf_bx_3_std', 'imf_by_gse_1h_mean', 'imf_by_gse_1h_std',
       'imf_by_gse_2h_mean', 'imf_by_gse_2h_std', 'imf_by_gse_3h_mean',
       'imf_by_gse_3_std', 'imf_bz_gse_1h_mean', 'imf_bz_gse_1h_std',
       'imf_bz_gse_2h_mean', 'imf_bz_gse_2h_std', 'imf_bz_gse_3h_mean',
       'imf_bz_gse_3_std', 'imf_by_gsm_1h_mean', 'imf_by_gsm_1h_std',
       'imf_by_gsm_2h_mean', 'imf_by_gsm_2h_std', 'imf_by_gsm_3h_mean',
       'imf_by_gsm_3_std', 'imf_bz_gsm_1h_mean', 'imf_bz_gsm_1h_std',
       'imf_bz_gsm_2h_mean', 'imf_bz_gsm_2h_std', 'imf_bz_gsm_3h_mean',
       'imf_bz_gsm_3_std', 'sw_p_1h_mean', 'sw_p_1h_std', 'sw_p_2h_mean',
       'sw_p_2h_std', 'sw_p_3h_mean', 'sw_p_3_std', 'sw_v_1h_mean',
       'sw_v_1h_std', 'sw_v_2h_mean', 'sw_v_2h_std', 'sw_v_3h_mean',
       'sw_v_3_std', 'dst_1h_mean', 'dst_1h_std', 'dst_2h_mean', 'dst_2h_std',
       'dst_3h_mean', 'dst_3_std', 'ratio_ps_sheath'],
      dtype='object')

In [10]:
data

,Event number,time_start_sheath,time_end_sheath,time_start_plasmasheet,time_start_plasmasheet.1,smooth_turbulent,BL,dawndusk,Inbound,crossing_magnetopause,...,sw_v_2h_std,sw_v_3h_mean,sw_v_3_std,dst_1h_mean,dst_1h_std,dst_2h_mean,dst_2h_std,dst_3h_mean,dst_3_std,ratio_ps_sheath
0,1,2016-02-13/05:13:20,2016-02-13/05:33:20,2016-02-13/05:53:20,2016-02-13/06:13:20,NaN,0,Dawnside,1,2016-02-13/05:43:20,...,4.000762,365.989990,2.921227,21.549999,2.836954,27.733334,1.471385,21.833334,5.752425,0.320168
1,2,2016-02-13/22:32:00,2016-02-13/22:52:00,2016-02-13/20:57:30,2016-02-13/21:17:30,smooth,1,Dawnside,0,2016-02-13/22:22:00,...,5.446977,419.565033,5.595810,-7.065574,0.853792,-7.327869,1.011950,-6.852459,0.511079,0.514561
2,3,2016-02-03/05:03:30,2016-02-03/05:23:30,2016-02-03/06:17:30,2016-02-03/06:37:30,NaN,0,Dawnside,1,2016-02-03/05:33:30,...,5.440266,358.375031,2.616685,-43.000000,3.014091,-46.016666,1.512565,-54.566666,3.238364,0.644504
3,4,2016-02-03/21:10:30,2016-02-03/21:30:30,2016-02-03/20:01:00,2016-02-03/20:21:00,smooth,0,Dawnside,0,2016-02-03/21:00:30,...,5.553862,383.350983,5.661075,-13.250000,0.750706,-13.350000,0.708902,-10.433333,1.994625,0.466873
4,5,2016-02-23/02:13:40,2016-02-23/02:33:40,2016-02-23/02:53:40,2016-02-23/03:13:40,NaN,0,Dawnside,1,2016-02-23/02:43:40,...,3.771461,354.396454,2.458004,-4.933333,1.162503,-1.283333,0.584885,-0.316667,1.241810,0.377841
5,6,2016-02-23/19:53:30,2016-02-23/20:13:30,2016-02-23/19:13:30,2016-02-23/19:33:30,NaN,0,Dawnside,0,2016-02-23/19:43:30,...,2.543454,369.525391,2.993583,-2.183333,0.892372,-1.716667,0.613179,0.333333,0.628872,0.659404
6,7,2016-03-14/18:23:00,2016-03-14/18:43:00,2016-03-14/16:52,2016-03-14/17:12,NaN,1,Dawnside,0,2016-03-14/18:13:00,...,1.684844,369.526764,1.772008,19.508196,7.327171,-1.737705,0.629858,-0.278689,0.452075,0.438253
7,8,2017-05-01/16:13:00,2017-05-01/16:33:00,2017-05-01/18:02:45,2017-05-01/18:22:45,NaN,1,Dawnside,1,2017-05-01/16:43:00,...,3.807719,380.136932,7.029194,10.213115,1.253193,10.721312,0.819169,10.557377,0.500819,1.006455
8,9,2017-05-17/11:17:30,2017-05-17/11:37:30,2017-05-17/10:20:20,2017-05-17/10:40:20,NaN,0,Dawnside,0,2017-05-17/11:07:30,...,3.921733,501.336334,5.027836,-6.750000,1.569033,-10.666667,3.671543,-10.050000,1.489227,0.649513
9,10,2017-05-17/20:08:40,2017-05-17/20:28:40,2017-05-17/17:21:20,2017-05-17/17:41:20,NaN,1,Dawnside,0,2017-05-17/19:58:40,...,3.352653,471.106964,1.137535,0.350000,1.783398,-0.383333,1.508076,-1.583333,0.829369,0.744015
10,11,2017-05-18/04:31:00,2017-05-18/04:51:00,2017-05-18/05:30:30,2017-05-18/05:50:30,NaN,0,Dawnside,1,2017-05-18/05:01:00,...,1.963491,437.357758,1.489125,-22.737705,4.603990,-5.606557,4.705595,1.032787,3.468752,0.761924
11,12,2017-05-20/09:26:30,2017-05-20/09:46:30,2017-05-20/10:11:50,2017-05-20/10:31:50,NaN,0,Dawnside,1,2017-05-20/09:56:30,...,14.761823,608.416565,11.257966,-29.916666,6.977668,-36.500000,3.886090,-22.950001,12.980333,0.575406
12,13,2016-11-11/08:33:30,2016-11-11/08:53:30,2016-11-11/07:27:30,2016-11-11/07:47:30,NaN,0,Duskside,0,2016-11-11/08:23:30,...,7.668869,455.802124,4.447152,-27.266666,1.885419,-28.466667,0.891897,-27.933332,1.191306,0.545292
13,14,2016-11-11/18:46:00,2016-11-11/19:06:00,2016-11-11/19:41:00,2016-11-11/20:01:00,NaN,0,Duskside,1,2016-11-11/19:16:00,...,12.514524,478.030182,28.596119,-8.032787,1.949078,-13.229508,1.553420,-13.918033,3.446231,0.462599
14,15,2016-11-03/08:37:00,2016-11-03/08:57:00,2016-11-03/07:26:00,2016-11-03/07:46:00,NaN,0,Duskside,0,2016-11-03/08:27:00,...,3.394013,405.321991,2.505362,-45.557377,0.806734,-40.918034,1.705825,-38.754097,1.374236,0.469273
15,16,2016-11-03/14:33:00,2016-11-03/14:53:00,2016-11-03/15:17:10,2016-11-03/15:37:10,NaN,0,Duskside,1,2016-11-03/15:03:00,...,3.005545,393.985779,2.587470,-31.934425,0.771769,-33.459015,1.444227,-35.918034,0.737000,0.299041
16,17,2016-10-27/10:12:20,2016-10-27/10:32:20,2016-10-27/09:06:00,2016-10-27/09:26:00,NaN,1,Duskside,0,2016-10-27/10:02:20,...,10.187387,610.475037,15.020105,-44.700001,2.345570,-47.833332,1.439947,-38.599998,3.370862,0.614717
17,18,2016-10-27/17:10:00,2016-10-27/17:30:00,2016-10-27/18:25:00,2016-10-27/18:45:00,NaN,1,Duskside,1,2016-10-27/17:40:00,...,13.048717,580.749878,15.311054,-52.131149,2.759682,-49.836067,2.684402,-44.819672,3.052366,0.648195
18,19,2016-10-10/16:10:00,2016-10-10/16:30:00,2016-10-10/14:19:20,2016-10-10/14:39:20,NaN,1,Duskside,0,2016-10-10/16:00:00,...,4.167249,341.171722,4.095984,-10.901639,1.609399,-12.393442,1.332650,-16.672131,1.011950,0.704734
19,20,2016-09-30/17:22:00,2016-09-30/17:42:00,2016-09-30/16:00:00,2016-09-30/16:20:00,NaN,0,Duskside,0,2016-09-30/17:12:00,...,20.156075,615.177124,9.138628,-28.950819,3.018975,-28.377048,1.356023,-25.475410,0.648243,1.056433
20,21,2016-09-30/17:41:40,2016-09-30/18:01:40,2016-09-30/18:58:30,2016-09-30/19:18:30,NaN,0,Duskside,1,2016-09-30/18:11:40,...,14.648341,608.084656,19.504766,-33.683334,1.383825,-28.850000,2.939070,-28.416666,1.331390,0.560645
21,22,2016-09-19/17:09:30,2016-09-19/17:29:30,2016-09-19/15:39:00,2016-09-19/15:59:00,NaN,2,Duskside,0,2016-09-19/16:59:30,...,3.127182,394.503540,7.042456,-4.150000,1.232677,-8.383333,1.328842,-16.983334,2.813356,0.518208
22,23,2016-09-19/20:50:10,2016-09-19/21:10:10,2016-09-19/21:54:50,2016-09-19/22:14:50,NaN,1,Duskside,1,2016-09-19/21:20:10,...,7.375976,412.449036,5.345779,18.283333,3.813854,9.483334,1.157022,6.583333,1.292635,0.478446
23,24,2017-09-29/12:21:20,2017-09-29/12:41:20,2017-09-29/13:28:40,2017-09-29/13:48:40,NaN,1,Duskside,1,2017-09-29/12:51:20,...,5.982714,607.153076,10.768032,-12.350000,2.192630,-14.316667,0.982761,-15.000000,0.802538,0.517279
24,25,2017-09-25/09:48:30,2017-09-25/10:08:30,2017-09-25/08:54:00,2017-09-25/09:14:00,NaN,2,Duskside,0,2017-09-25/09:38:30,...,6.688736,379.073303,2.180116,1.583333,0.961843,1.550000,0.699273,1.533333,0.535729,0.423560
25,26,2017-09-19/16:12:00,2017-09-19/16:32:00,2017-09-19/13:28:00,2017-09-19/13:48:00,NaN,1,Duskside,0,2017-09-19/16:02:00,...,6.910333,500.513336,4.330735,0.262295,0.981523,-1.836066,0.820169,-5.245902,0.809439,0.447773
26,27,2017-09-14/02:29:40,2017-09-14/02:49:40,2017-09-14/00:46:40,2017-09-14/01:06:40,NaN,1,Duskside,0,2017-09-14/02:19:40,...,5.089202,350.070404,2.242152,2.100000,1.052841,-9.050000,2.020446,-8.266666,1.205449,0.423442
27,28,2017-09-14/06:35:50,2017-09-14/06:55:50,2017-09-14/07:46:00,2017-09-14/08:06:00,NaN,0,Duskside,1,2017-09-14/07:05:50,...,2.656300,357.251373,8.514985,-2.100000,1.724205,-0.333333,0.751646,0.533333,1.523451,0.454896
28,29,2017-09-14/09:49:00,2017-09-14/10:09:00,2017-09-14/08:31:20,2017-09-14/08:51:20,NaN,0,Duskside,0,2017-09-14/09:39:00,...,2.421325,331.825592,1.809642,-2.459016,3.036301,-3.655738,0.854113,-4.245902,0.906564,0.232836
29,30,2017-08-31/03:38:40,2017-08-31/03:58:40,2017-08-31/01:24:00,2017-08-31/01:44:00,NaN,1,Duskside,0,2017-08-31/03:28:40,...,12.630383,361.139099,4.658445,12.866667,1.466769,10.000000,6.441391,2.333333,0.475383,0.853221